@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

:root{
  --ff-primary: 'Oxanium', cursive;
  --ff-secondary: 'Poppins', sans-serif;
  --ff-third: 'Work Sans', sans-serif;
  /*  */
  --fw-700: 700;
  --fw-500: 500;
  --fw-400: 400;
  /*  */
  --spacer-xbg: 9rem;
  --spacer-bg: 4rem;
  --spacer-md: 2rem;
  --spacer-sm: 1rem;
  --spacer-xsm: 0.5rem;
  /*  */
  --clr-dark: #232425;
  --clr-accent: #3A78F2;
  --clr-light: #FFFFFF;
  /*  */
  --bg-dark: #1D2225;
  --bg-card: #303E49;
  --bg-accent: #3A78F2;
  --bg-pricing: #f0f5fe;
  --bg-light: #FFFFFF; 
  --bg-btn: #000000;
  /*  */
  --bg-input: #F5F5F5;
  --bg-input-mobile: #F8F8F8;
}

img, picture{
  max-width: 100%;
  display: block;
}

.h--container{
  max-width: 1920px;
  margin: 0 auto;
  padding: var(--spacer-md) var(--spacer-xsm);
  background-color: var(--bg-light);
  position: relative;
}

.h_symbol{
  width: 7%;
  position: absolute;
  top: 10%;
}

@media (max-width: 48em){
  .h--container[data-overlay]::before{
    content: '';
    position: fixed;
    inset: 0;
    z-index: 1000;
    background-image: linear-gradient( rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.7) );
  }

  .h_symbol{
    display: none;
  }
}

/** NAV CONTAINER */

.h-nav-container{
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h_logo{
  width: clamp(4rem, 5vw, 5.8rem);
}

.primary-nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h_ul{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: clamp(1rem, 4vw, 4.5rem);
}

.h_li{
  width: 85px;
  font-size: clamp(1rem, 1.2vw, 1.4rem);
  font-family: var(--ff-primary);
  font-weight: var(--fw-400);
  color: var(--clr-dark);
  list-style: none;
}

.h_anchor .h_li:where(:hover, :focus){
  font-weight: var(--fw-500);
}

.h_nav_btn{
  width: clamp(100px, 9vw, 9.5rem);
  padding-block: 0.7em;
  border-radius: 10px;
  font-size: clamp(0.75rem, 1vw, 1.2rem);
  font-family: var(--ff-primary);
  font-weight: var(--fw-400);
  background-color: var(--bg-btn);
  color: var(--clr-light);
  border: none;
  cursor: pointer;
}

/** MENU */

.mobile-nav-toogle{
  display: none;
  position: fixed;
  right: 0;
  z-index: 9999;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.sr_only{
  display: none;
}

.burguer,
.burguer::before,
.burguer::after{
  width: 17px;
  height: 4px;
  border-radius: 5px;
  background-color: var(--bg-accent);
  transform-origin: 5px;
  transform: rotate(0);
  transition: all 0.4s ease-in-out;
  display: block;
  position: relative;
  left: -.9em;
}

.menu_burguer{
  width: 10px;
  height: 4px;
  border-radius: 5px;
  background-color: var(--bg-accent);
  display: block;
  position: absolute;
  top: 0;
  left: -25px;
  bottom: 0;
}

.burguer::before{
  content: '';
  width: 30px;
  position: absolute;
  bottom: 0.5em;
}

.burguer::after{
  content: '';
  width: 30px;
  position: absolute;
  top: 0.5em;
}

@media (max-width: 48em){
  .h-nav-container{
    width: 100%;
  }

  .mobile-nav-toogle{
    display: block;
  }

  /** WHEN MENU OPENS */

  .mobile-nav-toogle[aria-expanded="true"] .burguer, 
  .mobile-nav-toogle[aria-expanded="true"] .menu_burguer{
    background-color: transparent;
  }

  .mobile-nav-toogle[aria-expanded="true"] .burguer::before{
    transform: rotate(45deg);
  }

  .mobile-nav-toogle[aria-expanded="true"] .burguer::after{
    transform: rotate(-45deg);
  }

  .primary-nav[data-visible]{
    transform: scale(1,1);
  }

  .primary-nav{
    width: 70%;
    margin-inline: auto;
    padding: var(--spacer-md) var(--spacer-xsm);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background: var(--bg-light);
    transform: scale(1,0);
    transition: transform 0.3s ease-in-out;
    position: fixed;
    inset: 5.5rem .5rem auto;
    z-index: 6000;
  }

  .h_ul{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

/** HERO CONTAINER */

.h-hero-container{
  width: 95%;
  margin: 0 0 0 auto;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.hero-txt{
  display: flex;
  flex-direction: column;
  position: relative;
}

.hero_h2{
  max-width: 15ch;
  font-size: clamp(2rem, 8vw, 8.5rem);
  font-family: var(--ff-primary);
  font-weight: var(--fw-700);
  color: var(--clr-dark);
}

.hero-txt img{
  width: clamp(2rem, 9vw, 9.2rem);
  display: block;
}

.span_solutions{
  margin-left: 2.5rem;
  display: flex;
  gap: clamp(1rem, 2vw, 2.2rem);
}

.span_delivery{
  font-family: var(--ff-secondary);
  color: var(--clr-accent);
}

.hero_p{
  max-width: 50ch;
  font-size: clamp(1rem, 1.1vw, 1.3rem);
  font-family: var(--ff-primary);
  font-weight: var(--fw-400);
  color: var(--clr-dark);
}

.hero_desktop{
  width: 100%;
  display: block;
}

.hero_mobile{
  width: 100%;
  display: none;
}

.btn-hero-wrap{
  display: flex;
  gap: 2rem;
}

.partner_btn{
  width: clamp(120px, 11vw, 11.5rem);
  padding-block: 1em;
  border-radius: 10px;
  font-size: clamp(0.75rem, 1vw, 1.2rem);
  font-family: var(--ff-primary);
  font-weight: var(--fw-400);
  background-color: var(--bg-accent);
  color: var(--clr-light);
  border: none;
  cursor: pointer;
}

.partner_btn[data-type="btn_inverted"]{
  border: 1px solid var(--bg-accent);
  background-color: var(--bg-light);
  color: var(--clr-accent);
}

@media (max-width: 48em){
  .h-hero-container{
    width: 100%;
    padding: var(--spacer-md) var(--spacer-xsm) var(--spacer-xsm);
    grid-template-columns: 1fr;
  }

  .hero-txt{
    align-items: center;
    row-gap: 1rem;
  }

  .span_solutions{
    margin-left: 0;
  }

  .hero_p{
    max-width: 25ch;
    text-align: center;
  }

  .hero_desktop{
    display: none;
  }
  
  .hero_mobile{
    display: block;
  }

  .btn-hero-wrap{
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

/** PARTNER CONTAINER */

.h-partner-container{
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partner_icon{
  max-width: 15%;
  aspect-ratio: 1;
  fill: #60658C;
  opacity: 0.5;
}

.partner_icon:where(:hover, :focus){
  fill: var(--bg-card);
  opacity: 1;
}

@media (max-width: 48em){
  .partner_icon{
    max-width: 20%;
  }
}

/** MAIN 1º CONTAINER */

.services--container{
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-light);
}

.services_h2{
  font-size: clamp(2rem, 5vw, 5.5rem);
  font-family: var(--ff-primary);
  font-weight: var(--fw-700);
  color: var(--clr-dark);
}

.services_p{
  font-size: clamp(1rem, 1.8vw, 2rem);
  font-family: var(--ff-primary);
  font-weight: var(--fw-400);
  color: var(--clr-dark);
}

.services-card{
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: clamp(1rem, 2vw, 2.2rem);
  padding: var(--spacer-bg) var(--spacer-xsm);
  list-style: none;
}

.card-wrapper{
  padding: clamp(1rem, 2vw, 2.5rem);
  border-radius: 15px;
  border: 1px solid #DCDCDC;
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 2vw, 2.2rem);
  background-color: var(--bg-light);
  transition: all 0.3s ease-in-out;
}

.card-wrapper:where(:hover, :focus){
  background-color: var(--bg-accent);
}

.card-wrapper:where(:hover, :focus) .cards_icon{
  background-color: var(--bg-light);
  fill: var(--bg-light);
  stroke: var(--bg-card);
}

.card-wrapper:where(:hover, :focus) .cards_icon[data-type="card_inverted"]{
  background-color: var(--bg-light);
  fill: var(--bg-card);
  stroke: var(--bg-card);
}

.card-wrapper:where(:hover, :focus) .card_title,
.card-wrapper:where(:hover, :focus) .card_p,
.card-wrapper:where(:hover, :focus) .card_anchor{
  color: var(--clr-light);
}

.cards_icon{
  width: clamp(65px, 5.5vw, 150px);
  aspect-ratio: 1;
  padding: clamp(0.8rem, 1.5vw, 2.5rem);
  border-radius: 10px;
  background-color: var(--bg-card);
  fill: var(--bg-card);
  stroke: var(--bg-light);
}

.cards_icon[data-type="card_inverted"]{
  fill: var(--bg-light);
  stroke: var(--bg-light);
}

.card-txt{
  display: flex;
  flex-direction: column;
  row-gap: clamp(1rem, 2vw, 2.2rem);
}

.card_title{
  font-size: clamp(1rem, 1.5vw, 2rem);
  font-family: var(--ff-primary);
  font-weight: var(--fw-700);
  color: var(--clr-dark);
}

.card_p{
  max-width: 35ch;
  font-size: clamp(1rem, 1vw, 1.5rem);
  font-family: var(--ff-primary);
  font-weight: var(--fw-400);
  color: var(--clr-dark);
  opacity: .6;
}

.card_anchor{
  font-size: clamp(1rem, 1vw, 1.5rem);
  font-family: var(--ff-primary);
  font-weight: var(--fw-500);
  color: var(--clr-dark);
  text-decoration: none;
}

@media (max-width: 48em){
  .services-card{
    width: 100%;
    grid-template-columns: 1fr;
    padding: var(--spacer-md) var(--spacer-xsm);
  }

  .card-wrapper{
    flex-direction: row;
    align-items: flex-start;
  }
}

/** MAIN 2º CONTAINER */

.why-us--container{
  max-width: 1920px;
  margin: 0 auto;
  padding-block: var(--spacer-xbg);
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 5vw, 5.5rem);
  background: linear-gradient(var(--bg-accent) 50vw, var(--bg-light) 50vw);
}

.why-us-txt{
  width: 85%;
  margin: 0 auto;
}

.why-us_p{
  font-size: clamp(0.75rem, 1.8vw, 2rem);
  font-family: var(--ff-primary);
  font-weight: var(--fw-400);
  color: var(--clr-light);
}

.why-us_h2{
  max-width: 20ch;
  font-size: clamp(1rem, 5vw, 5.5rem);
  font-family: var(--ff-primary);
  font-weight: var(--fw-700);
  color: var(--clr-light);
}

.why-us-fig{
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.why-us_video{
  width: 100%;
}

.why-us_play{
  width: 10%;
  position: absolute;
  bottom: 40%;
  left: 47%;
}

.why-us-cards{
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp(1rem, 7vw, 7.5rem);
  list-style: none;
}

.why_cards{
  display: flex;
  align-items: flex-start;
  gap: clamp(1rem, 1.2vw, 1.5rem);
}

.whyus_img{
  width: clamp(30px, 2.5vw, 70px);
  aspect-ratio: 1;
}

.whyus_txt{
  display: flex;
  flex-direction: column;
  row-gap: clamp(1rem, 1.5vw, 1.7rem);
}

.whyus_h3{
  font-size: clamp(1rem, 1.5vw, 2rem);
  font-family: var(--ff-primary);
  font-weight: var(--fw-700);
  color: var(--clr-dark);
}

.whyus_p{
  max-width: 60ch;
  font-size: clamp(0.75rem, 1vw, 2rem);
  font-family: var(--ff-primary);
  font-weight: var(--fw-400);
  color: var(--clr-dark);
}

.whyus_anchor{
  font-weight: var(--fw-700);
  color: var(--clr-accent);
  text-decoration: none;
}

.why-us-numbers{
  width: 100%;
  padding-block: var(--spacer-bg);
  background-color: var(--bg-accent);
}

.why-numbers-wrapper{
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.why-us_numbers{
  font-size: clamp(1rem, 5vw, 5.5rem);
  font-family: var(--ff-third);
  font-weight: var(--fw-700);
  color: var(--clr-light);
  position: relative;
}

.why-us_border::after{
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 1%;
  height: clamp(20px, 7.5vw, 150px);
  border-right: 2px solid white;
}

.why-us_description{
  max-width: 20ch;
  font-size: clamp(0.75rem, 1.8vw, 2rem);
  font-family: var(--ff-third);
  font-weight: var(--fw-400);
  opacity: .8;
  color: var(--clr-light);
}

@media (max-width: 48em){
  .why-us--container{
    padding-block: var(--spacer-sm) var(--spacer-md);
  }

  .why-us-txt,
  .why-us-fig{
    width: 100%;
    padding-inline: var(--spacer-xsm);
  }

  .why-us_h2{
    max-width: 100%;
  }

  .why-us_border::after{
    top: 5%;
  }

  .why-us-cards{
    width: 100%;
    padding-inline: var(--spacer-xsm);
    grid-template-columns: 1fr;
  }

  .why-us-numbers{
    padding-block: var(--spacer-sm);
  }

  .why-numbers-wrapper{
    width: 100%;
  }
}

/** MAIN 3º CONTAINER */

.pricing--container{
  max-width: 1920px;
  margin: 0 auto;
  padding-inline: var(--spacer-xsm);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: var(--bg-light);
}

.pricing_h2{
  font-size: clamp(2rem, 5vw, 5.5rem);
  font-family: var(--ff-primary);
  font-weight: var(--fw-700);
  color: var(--clr-dark);
}

.pricing_p{
  max-width: 65ch;
  margin-bottom: clamp(1rem, 2vw, 2.5rem);
  font-size: clamp(0.875rem, 1.8vw, 2rem);
  font-family: var(--ff-primary);
  font-weight: var(--fw-400);
  color: var(--clr-dark);
  text-align: center;
}

.price-content{
  width: 85%;
  margin: 0 auto;
}

.price-plan{
  width: 100%;
  padding-inline-start: var(--spacer-xsm);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.price-wrapper{
  width: 100%;
  padding-inline-start: var(--spacer-xsm);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.price-btn{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.price_inverted{
  background-color: var(--bg-pricing);
}

.type_center,
.basic_img{
  justify-self: center;
}

.basic_hidden{
  visibility: hidden;
}

.basic_p{
  padding: 0.7em 0;
  font-size: clamp(0.75rem, 1.1vw, 1.4rem);
  font-family: var(--ff-primary);
  font-weight: var(--fw-400);
  color: var(--clr-dark);
}

.price_p{
  font-size: clamp(0.75rem, 1.1vw, 1.4rem);
  font-family: var(--ff-primary);
  font-weight: var(--fw-400);
  color: var(--clr-dark);
}

.type_fw{
  font-weight: var(--fw-700);
}

.basic_accent{
  font-weight: var(--fw-700);
  color: var(--clr-accent);
}

.pricing_btn{
  width: clamp(120px, 11vw, 11.5rem);
  padding-block: 0.7em;
  border-radius: 10px;
  font-size: clamp(0.75rem, 1vw, 1.2rem);
  font-family: var(--ff-primary);
  font-weight: var(--fw-400);
  border: 2px solid var(--bg-accent);
  background-color: var(--bg-light);
  color: var(--clr-accent);
  cursor: pointer;
  justify-self: center;
}

.pricing_btn_inverted{
  border: none;
  background-color: var(--bg-accent);
  color: var(--clr-light);
}

.price-content-mobile{
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  row-gap: 3rem;
}

.price_mobile{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--spacer-xsm);
}

.price_wrapper{
  width: 100%;
  padding-inline: var(--spacer-xsm);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 48em){
  .price-content{
    display: none;
  }

  .price-content-mobile{
    display: flex;
  }
}

/** MAIN 4º CONTAINER */

.contact--container{
  max-width: 1920px;
  margin: 0 auto;
}

.contact--wrapper{
  width: 85%;
  margin: 0 auto;
  padding-block: var(--spacer-xbg);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.contact_img{
  width: 100%;
  display: block;
}

.contact_mobile{
  display: none;
}

.contact-form{
  width: 100%;
}

.field-contact{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: clamp(1rem, 3vw, 3.2rem);
  border: none;
}

.contact_leg{
  margin-bottom: clamp(1rem, 4vw, 4.5rem);
  font-size: clamp(1.5rem, 3vw, 3.5rem);
  font-family: var(--ff-primary);
  font-weight: var(--fw-700);
  color: var(--clr-dark);
}

.contact_label{
  margin-bottom: clamp(0.5rem, 1.2vw, 1.7rem);
  font-size: clamp(1rem, 1.4vw, 1.7rem);
  font-family: var(--ff-primary);
  font-weight: var(--fw-500);
  color: var(--clr-dark);
  text-transform: uppercase;
}

.contact_input{
  width: 100%;
  height: clamp(35px, 4vw, 60px);
  margin-bottom: clamp(1rem, 1.5vw, 1.8rem);
  padding-inline-start: var(--spacer-xsm);
  border-radius: 10px;
  font-size: clamp(1rem, 1.4vw, 1.7rem);
  font-family: var(--ff-primary);
  font-weight: var(--fw-500);
  color: var(--clr-dark);
  background-color: var(--bg-input);
  border: none;
}

.contact_text{
  grid-area: 6 / 2 span;
  padding-inline-start: var(--spacer-xsm);
  margin-bottom: clamp(1rem, 2vw, 2.3rem);
  border-radius: 10px;
  font-size: clamp(1rem, 1.4vw, 1.7rem);
  font-family: var(--ff-primary);
  font-weight: var(--fw-500);
  color: var(--clr-dark);
  background-color: var(--bg-input);
  border: none;
}

.contact_input::placeholder,
.contact_text::placeholder{
  padding: var(--spacer-sm) 0 0 var(--spacer-sm);
  font-size: clamp(0.75rem, 1.2vw, 1.4rem);
  font-family: var(--ff-primary);
  font-weight: var(--fw-400);
  color: var(--clr-dark);
  opacity: 0.6;
}

.contact_btn{
  grid-area: 7 / 2 span;
  justify-self: center;
  width: clamp(120px, 11vw, 11.5rem);
  padding-block: 0.7em;
  border-radius: 8px;
  font-size: clamp(0.75rem, 1vw, 1.2rem);
  font-family: var(--ff-primary);
  font-weight: var(--fw-400);
  background-color: var(--bg-accent);
  color: var(--clr-light);
  cursor: pointer;
  border: none;
}

@media (max-width:48em){
  .contact--wrapper{
    width: 100%;
    padding-block: var(--spacer-bg) 0;
    grid-template-columns: 1fr;
  }

  .contact_img{
    display: none;
  }
  
  .contact_mobile{
    display: block;
  }

  .contact-form{
    padding: var(--spacer-sm) var(--spacer-xsm);
    background-color: var(--bg-input-mobile);
  }

  .contact_leg{
    margin: 0 auto 1.5rem;
  }
}

/** MAIN 5º CONTAINER */

.clients--container{
  max-width: 1920px;
  margin: 0 auto;
  padding-block: var(--spacer-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-input);
  overflow: hidden;
}

.clients_p{
  margin-block-end: clamp(1rem, 3vw, 3.5rem);
  font-size: clamp(0.75rem, 1.8vw, 2rem);
  font-family: var(--ff-primary);
  font-weight: var(--fw-400);
  color: var(--clr-dark);
}

.clients_h2{
  max-width: 20ch;
  margin-block-end: clamp(1rem, 3vw, 3.5rem);
  font-size: clamp(1.15rem, 5vw, 5.5rem);
  font-family: var(--ff-primary);
  font-weight: var(--fw-700);
  color: var(--clr-dark);
  text-align: center;
}

.testimonials-wrapper {
  width: 100%;
  padding-inline: var(--spacer-bg);
  margin-bottom: clamp(2rem, 4vw, 4.5rem);
  display: flex;
  justify-content: space-around;
  column-gap: 1rem;
}

.clients-testimonials{
  max-width: 600px;
  padding: var(--spacer-sm) var(--spacer-md);
  display: flex;
  flex-direction: column;
  row-gap: clamp(1rem, 1.5vw, 1.8rem);
  background-color: var(--bg-light);
}

.clients-testimonials:nth-child(1),
.clients-testimonials:nth-child(3){
  background-color: var(--bg-input-mobile);
}

.clients-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}

.clients_img{
  width: clamp(90px , 8vw, 9rem);
  filter: drop-shadow(0 8.15px 0 rgba(48, 62, 73, 0.16));
}

.company_img{
  width: clamp(105px , 14vw, 16rem);
}

.testimonials_h3{
  font-size: clamp(1rem, 1.5vw, 2rem);
  font-family: var(--ff-primary);
  font-weight: var(--fw-700);
  color: var(--clr-dark);
}

.testimonials_p{
  font-size: clamp(0.75rem, 1vw, 2rem);
  font-family: var(--ff-primary);
  font-weight: var(--fw-400);
  color: var(--clr-dark);
}

.testimonials_btn{
  width: clamp(120px, 11vw, 11.5rem);
  padding-block: 1em;
  border-radius: 8px;
  font-size: clamp(0.85rem, 1vw, 1.2rem);
  font-family: var(--ff-primary);
  font-weight: var(--fw-400);
  background-color: var(--bg-accent);
  color: var(--clr-light);
  cursor: pointer;
  border: none;
}

.testimonials_inverted{
  max-width: 35ch;
}

@media (max-width:58em){
  .testimonials-wrapper {
    padding-inline: var(--spacer-md);
  }

  .clients-testimonials{
    padding: var(--spacer-sm);
  }
}

@media (max-width:48em){

  .clients--container{
    padding-block: var(--spacer-bg) var(--spacer-md);
  }

  .testimonials-wrapper {
    padding-inline: var(--spacer-xsm);
  }

  .clients-testimonials:nth-child(2),
  .clients-testimonials:nth-child(3){
    display: none;
  }

  .clients-testimonials{
    width: 100%;
    align-items: center;
  }

  .company_img{
    margin-inline-end: calc((var(--spacer-bg)) * 2);
  }
}

/** FOOTER */

.footer--columns{
  max-width: 1920px;
  margin: 6vw auto 0;
  padding: var(--spacer-bg) var(--spacer-xbg) var(--spacer-md);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  row-gap: clamp(1.5rem, 4vw, 4.5rem);
  background-color: var(--bg-dark);
}

.footer-logo-wrapper{
  align-self: center;
  margin-top: clamp(1rem, 2vw, 2.2rem);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: clamp(0.875rem, 1.2vw, 1.5rem);
}

.footer-ul-wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: clamp(1rem, 4vw, 4.5rem);
}

.footer-ul{
  display: flex;
  flex-direction: column;
  row-gap: clamp(0.5rem, .8vw, 1rem);
  list-style: none;
}

.footer_p{
  max-width: 30ch;
  font-size: clamp(0.75rem, 1vw, 1.5rem);
  font-family: var(--ff-primary);
  font-weight: var(--fw-400);
  color: var(--clr-light);
  opacity: 0.6;
}

.f_p_fw{
  margin-bottom: clamp(1rem, 1.2vw, 1.5rem);
  font-size: clamp(0.875rem, 1vw, 1.7rem);
  font-family: var(--ff-primary);
  font-weight: var(--fw-500);
  color: var(--clr-light);
  opacity: 0.9;
}

.footer_anchor{
  text-decoration: none;
}

.footer_li{
  font-size: clamp(0.75rem, 1vw, 1.5rem);
  font-family: var(--ff-primary);
  font-weight: var(--fw-400);
  color: var(--clr-light);
  opacity: 0.6;
}

.footer-form-wrapper{
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  gap: clamp(1rem, 1.5vw, 1.8rem);
}

.footer-form{
  width: 100%;
  display: flex;
  column-gap: 1rem;
}

.footer_input{
  height: clamp(35px, 3vw, 50px);
  padding-inline-start: var(--spacer-xsm);
  border-radius: 5px;
  font-size: clamp(0.75rem, 1vw, 1.4rem);
  font-family: var(--ff-primary);
  font-weight: var(--fw-500);
  color: var(--clr-light);
  background-color: transparent;
  border: 1px solid var(--bg-light);
}

.footer_btn{
  width: clamp(120px, 8vw, 9rem);
  padding-block: 0.7em;
  border-radius: 8px;
  font-size: clamp(0.85rem, 1vw, 1.2rem);
  font-family: var(--ff-primary);
  font-weight: var(--fw-400);
  background-color: var(--bg-accent);
  color: var(--clr-light);
  cursor: pointer;
  border: none;
}

.copyright_p{
  grid-area: 2 / 1;
  font-size: clamp(0.875rem, 1vw, 1.5rem);
  font-family: var(--ff-primary);
  font-weight: var(--fw-500);
  color: var(--clr-light);
  opacity: 0.8;
}

.footer-social{
  grid-area: 2 / 3;
  justify-self: flex-end;
  display: flex;
  gap: 1rem;
}

@media (max-width:90em){
  .footer--columns{
    padding: var(--spacer-bg) var(--spacer-md) var(--spacer-md);
  }
}

@media (max-width:60em){
  .footer--columns{
    padding: var(--spacer-bg) var(--spacer-sm) var(--spacer-md);
  }
}

@media (max-width:48em){
  .footer--columns{
    margin-top: 0;
    padding: var(--spacer-md) var(--spacer-xsm) var(--spacer-sm);
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .footer-logo-wrapper{
    margin-top: 0;
    grid-row-start: 1;
    justify-self: flex-start;
  }

  .footer_logo{
    margin-bottom: 1rem;
  }

  .footer-social{
    grid-area: 2 / 1;
    justify-self: flex-start;
  }

  .footer-ul-wrapper{
    grid-row-start: 3;
    justify-self: flex-start;
  }

  .footer-form-wrapper{
    width: 100%;
    grid-row-start: 4;
    justify-self: flex-start;
  }

  .footer-form{
    max-width: 400px;
    flex-direction: column;
    row-gap: 1rem;
  }

  .f_p_mobile{
    margin-bottom: 0;
  }

  .footer_input{
    width: 100%;
  }

  .footer_btn{
    align-self: center;
  }

  .copyright_p{
    grid-area: 5 / 1;
  }
}